<footer class="site-footer container">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
        </div>

        <nav class="footer-nav">
            {{navigation type="secondary"}}
            <a class="menu-item badge" href="https://ghost.org/" target="_blank" rel="noopener noreferrer">Published with Ghost</a>
        </nav>

        <div class="footer-right">
            <div class="social">
                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}

                {{#if @site.twitter}}
                    <a class="social-item social-item-twitter"
                        href="{{twitter_url @site.twitter}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter">
                        {{> icons/twitter}}
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</footer>