<div class="full-cta">
    <div class="full-cta-left">
        <img class="full-cta-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    </div>

    <div class="full-cta-right">
        <div class="full-cta-content">
            {{#if @site.icon}}
                <img class="full-cta-icon" src="{{@site.icon}}" alt="{{@site.title}}">
            {{/if}}

            <h1 class="full-cta-title">{{@site.title}}</h1>

            {{#if @site.description}}
                <div class="full-cta-description">{{@site.description}}</div>
            {{/if}}

            <div class="form-wrapper">
                <input class="auth-email" type="email" data-members-email placeholder="Your email address" required="true" autocomplete="false">
                <button class="form-button" type="submit" aria-label="Submit">
                    Subscribe
                    <svg class="icon icon-loading"><use xlink:href="#loader"></use></svg>
                </button>
            </div>

            <button class="button-text full-cta-read">
                Read latest issues
                <svg class="icon"><use xlink:href="#chevron-right"></use></svg>
            </button>
        </div>

        <a class="full-cta-login" href="#/portal/signin">Login</a>
    </div>
</div>