<header class="site-header">
    <div class="header-inner">
        <div class="header-brand">
            <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <span class="logo-text">{{@site.title}}</span>
                {{/if}}
            </a>

            <div class="burger">
                <div class="burger-bar"></div>
                <div class="burger-bar"></div>
            </div>
        </div>

        {{#if @site.navigation}}
            <nav class="header-nav">
                {{navigation}}
            </nav>
        {{/if}}

        <div class="header-actions">
            {{#if @member}}
                <button class="button-text menu-item members-account" data-portal="account">Account</button>
                {{#unless @member.paid}}
                    <button class="button-text menu-item menu-item-cta members-upgrade" data-portal="account/plans">Upgrade</button>
                {{/unless}}
            {{else}}
                <button class="button-text menu-item members-login" data-portal="signin">Login</button>
                <button class="button-text menu-item menu-item-cta members-subscribe" data-portal="signup">Subscribe</button>
            {{/if}}
        </div>
    </div>
</header>

{{#is "post"}}
    {{#post}}
        <header class="sticky">
            <div class="sticky-title">{{title}}</div>
            <button class="button-icon sticky-toc-button" aria-label="Table of Contents">
                <svg class="icon">
                    <use xlink:href="#table-of-contents"></use>
                </svg>
                <div class="sticky-toc"></div>
            </button>
            <div class="sticky-track">
                <div class="sticky-progress"></div>
            </div>
        </header>
    {{/post}}
{{/is}}