<header id="site-header" class="site-header">
    <div class="header-inner">
        <div class="header-brand">
            <a class="logo" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    <span class="logo-text">{{@site.title}}</span>
                {{/if}}
            </a>

            <div class="burger">
                <div class="burger-bar"></div>
                <div class="burger-bar"></div>
            </div>
        </div>

        <nav class="header-nav">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </nav>

        <div class="header-actions">
            <div class="social">
                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}

                {{#if @site.twitter}}
                    <a class="social-item social-item-twitter"
                        href="{{twitter_url @site.twitter}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter">
                        {{> icons/twitter}}
                    </a>
                {{/if}}
            </div>

            {{#if @member}}
                <button class="button-text menu-item members-account" data-portal="account">Account</button>
            {{else}}
                <button class="button-text menu-item members-login" data-portal="signin">Login</button>
            {{/if}}
        </div>
    </div>
</header>