<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i,800">

    <script>
        var siteUrl = '{{@site.url}}';
    </script>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}}">
    {{> icons}}

    <div class="site">
        <div class="portal-toggle" data-portal></div>

        {{> header}}

        {{#is "home"}}
            {{#unless @member}}
                {{> cover}}
            {{/unless}}
            {{> featured}}
        {{/is}}

        <div class="site-content">
            {{{body}}}
        </div>

        {{> footer}}
        {{> modal}}
        {{> pswp}}
    </div>

    {{!-- Fixes 100vh issue on mobile browsers with toolbar on the bottom --}}
    <script>
        if (document.body.classList.contains('with-full-cover')) {
            document.getElementsByClassName('cover')[0].style.height = window.innerHeight + 'px';
        }
    </script>

    <script>
        var feed = document.querySelector('.post-feed');
        if (feed && !feed.classList.contains('related-feed')) {
            var wrapper = document.querySelector('.feed-layout-wrapper');
            var feedLayout = localStorage.getItem('dawn_layout');
            switch (feedLayout) {
                case 'expanded':
                    wrapper.classList.add('expanded');
                    feed.classList.add('expanded');
                    break;
                default:
                    break;
            }
        }
    </script>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>

    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>