{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#tag}}
            <section class="tag">
                <div class="container medium">
                    {{#if feature_image}}
                        <div class="tag-media u-placeholder square">
                            <img class="u-object-fit" srcset="{{> srcset}}" src="{{img_url feature_image size="l"}}" alt="{{name}}">
                        </div>
                    {{/if}}

                    <h1 class="tag-name">{{name}}</h1>

                    {{#if description}}
                        <div class="tag-description">{{description}}</div>
                    {{/if}}
                </div>
            </section>
        {{/tag}}

        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
                {{> "loop"}}
            {{/foreach}}
        </div>

        {{pagination}}
    </main>
</div>

{{#contentFor "body_class"}}{{#if @site.logo}}{{#if @site.cover_image}} with-dark-header{{/if}}{{/if}}{{/contentFor}}